* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('images/bg-pixel-art.jpg');
  background-attachment: fixed;
  background-size: 100%;
  background-repeat: repeat;
  font-family: sans-serif;
}

.container-title {
  background-color: rgb(37, 108, 53, 0.5);
  padding: 10px;
  width: 60%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

#title {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 1.3em;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 8px;
  color: white;
}

#color-palette {
  width: 60%;
  padding-bottom: 10px;
  text-align: center;
  height: auto;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 3px;
}

.color {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  margin-top: 15px;
}

.div-clear-table {
  width: 100%;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 0;
  text-align: center;
}

#clear-board {
  background-color: rgb(37, 108, 53, 0.9);
  border-radius: 10px;
  padding: 5px;
  color: rgba(255, 255, 255, 0.7);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.8em;
  border: none;
}

#clear-board:hover {
  background-color: rgb(37, 108, 53);
  color: rgba(255, 255, 255);
  border: none;
}

#clear-board:focus {
  border: none;
  outline: 0 dotted;
  outline-offset: 0;
}

#input-size {
  width: 100%;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 0;
  text-align: center;
}

#board-size {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  padding: 5px;
  border: none;
  width: 170px;
}

#board-size:focus {
  border: none;
  outline: 0 dotted;
  outline-offset: 0;
}

#generate-board {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  padding: 5px;
  font-weight: 600;
  font-size: 0.8em;
  border: none;
}

#generate-board:hover {
  background-color: white;
  border: none;
}

#generate-board:focus {
  border: none;
  outline: 0 dotted;
  outline-offset: 0;
}

#pixel-board {
  display: table;
  border: 1px solid black;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

.pixels {
  display: table-row;
}

.pixel {
  display: table-cell;
  border: 1px solid black;
  background-color: white;
  width: 40px;
  height: 40px;
}

footer {
  bottom: 0;
  position: fixed;
  width: 100%;
  text-align: center;
  padding: 20px;
  font-size: large;
  font-weight: 900;
  margin-left: 0;
}

@media only screen and (max-width: 720px) {
  .container-title {
    padding: 10px;
    width: 100%;
    margin-top: 0;
    margin-bottom: 50px;
  }
  
  #title {
    font-size: 1.1em;
    font-weight: 400;
    letter-spacing: 2px;
  }

  #color-palette {
    width: 70%;
    padding-bottom: 10px;
    margin-top: 10px;    
  }
  
  .color {
    display: inline-block;
    width: 35px;
    height: 35px;
  }
  
  #clear-board {
    font-weight: 400;
    font-size: 0.6em;
  }
  
  #board-size {
    font-size: .6em;
    width: 50%;
    text-align: center;
  }
  
  #generate-board {
    font-weight: 600;
    font-size: 0.6em;
  }

  #pixel-board {
    width: 70%;
  }
  
  .pixel {
    display: table-cell;
    border: 1px solid black;
    background-color: white;
    width: 35px;
    height: 35px;
  }
  
  footer {
    font-size: .7em;
    font-weight: 600;
  }
}

@media only screen and (max-width: 335px) {
  #color-palette {
    width: 100%; 
  }
}
